<h1>Hola este es el index</h1>

<% @leaflets.each do |leaflet| %>
  <p> <%= leaflet.name %> | <%= leaflet.lastname  %> | <%= leaflet.fone %> | <%= leaflet.email %> | <%= leaflet.status %> | </p>

<% end %>

